.login {
  column-gap: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.login_form {
  max-width: 320px;
}

.login_form__field {
  display: block;
  margin-bottom: 1em;
}

.login_register_container {
  margin-top: 1em;
}
