html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

hr {
  border: 0;
  border-bottom: 1px solid #ccc;
}

.mat-h2, .mat-title, .mat-typography h2 {
  margin-block-start: 0;
  margin-left: 0;
  margin-right: 0;
}

a:link,
a:visited {
  color: #3f51b5;
}

a:hover,
a:active {
  color: #333;
}

.mat-card-header-text {
  margin: 0 !important; // to override Angular Material inline styles
}
